{% load static %}

<!DOCTYPE html>

<html>

<header>
    <link href = "{% static 'shows_stylesheet.css' %}" rel = "stylesheet" type = "text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    
        <nav class="navbar navbar-inverse" >
            <div class="container-fluid" style = "justify-content: center;">
    
                <div class="navbar-header header_style">
                    <a style = "color: white;" class="navbar-brand navbar-colour" href="{% url 'index' %}">Home</a>
                    <a style = "color: white;" class="navbar-brand" href="{% url 'about_me' %}">About</a>
                    <a style = "color: white;" class="navbar-brand" href="{% url 'products'%}">Merch</a>
                    <a style = "color: white;" class="navbar-brand" href="{% url 'shows'%}">Shows</a>
                    <a style = "color: white;" class="navbar-brand" href="{% url 'profile'%}">My Profile</a>
                </div>
    
            </div>
    
        </nav>
    
</header>

<head >
    
    <h1 style = "color: white; padding: 3%;">Upcoming Shows</h1>
    
</head>

<body style="background-color: #545454;">

    <div class = "row" style="text-align: center; color: white;">

        <div class = "col-md-4">
            <h2 style = "font-size: 30px;">Date</h2>
        </div>

        <div class = "col-md-4">
            <h2 style = "font-size: 30px;">Location</h2>
        </div>

        <div class = "col-md-4">
            <h2 style = "font-size: 30px;">Time</h2>
        </div>

    </div>

    <div>
        {% block content %}
        {% endblock %}
    </div>

</body>


<footer>
   
    <div style = "text-align: center;">
        <a href = "#" style = "padding-right: 1%;"><img class = "social_icons" src = "{% static 'Social_Icons/spotify-icon.png' %}"></a>
        <a href = "#" style = "padding-right: 1%;"><img class = "social_icons" src = "{% static 'Social_Icons/youtube-icon.png' %}"></a>
        <a href = "#"><img class = "social_icons" src = "{% static 'Social_Icons/ig-icon.png' %}"></a>
    </div>

</footer>

</html>